PORT=3001
FRONTEND_URL=http://localhost:5173

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=
DB_NAME=rango_store

JWT_SECRET=change-this-secret
JWT_EXPIRES_IN=1d
AUTH_ADMIN_NAME=Administrador
AUTH_ADMIN_EMAIL=prueba@gmail.com
AUTH_ADMIN_PASSWORD=prueba123
